<a href="https://colab.research.google.com/github/brucebra000/DS-Unit-2-Applied-Modeling/blob/master/U2S3A1_applied_modeling_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 3, Module 1*

---


# Define ML problems

You will use your portfolio project dataset for all assignments this sprint.

## Assignment

Complete these tasks for your project, and document your decisions.

- [ ] Choose your target. Which column in your tabular dataset will you predict?
- [ ] Is your problem regression or classification?
- [ ] How is your target distributed?
    - Classification: How many classes? Are the classes imbalanced?
    - Regression: Is the target right-skewed? If so, you may want to log transform the target.
- [ ] Choose which observations you will use to train, validate, and test your model.
    - Are some observations outliers? Will you exclude them?
    - Will you do a random split or a time-based split?
- [ ] Choose your evaluation metric(s).
    - Classification: Is your majority class frequency > 50% and < 70% ? If so, you can just use accuracy if you want. Outside that range, accuracy could be misleading. What evaluation metric will you choose, in addition to or instead of accuracy?
- [ ] Begin to clean and explore your data.
- [ ] Begin to choose which features, if any, to exclude. Would some features "leak" future information?

# **This dataset contains information about movies from the website Rotten Tomatoes**

https://www.kaggle.com/stefanoleone992/rotten-tomatoes-movies-and-critics-datasets

In [0]:
import pandas as pd
import numpy as np
from google.colab import files
from sklearn.model_selection import train_test_split

In [3]:
upload = files.upload()

Saving rotten_tomatoes_movies.csv to rotten_tomatoes_movies.csv

In [4]:
df = pd.read_csv('rotten_tomatoes_movies.csv')
print(df.shape)
df.head()

(16638, 23)

                     rotten_tomatoes_link  ... audience_rotten_critics_count
0                              /m/0814255  ...                            73
1                              /m/0878835  ...                            19
2                                   /m/10  ...                             7
3                 /m/1000013-12_angry_men  ...                             0
4  /m/1000079-20000_leagues_under_the_sea  ...                             3

[5 rows x 23 columns]

Critic ratings on Rotten Tomatoes are classified as certified fresh, fresh, or rotten based on their tomatometer rating.


*   Certified Fresh = Tomatometer raiting >= 75%
*   Fresh = 75% > Tomatometer raiting >= 60%
*   Rotten = Tomatometer raiting < 60%

This machine will try to predict if a movie will be rated as certified fresh, fresh, or rotten (the 'tomatometer_status' column).

In [7]:
df['tomatometer_status'].describe()

count      16638
unique         3
top       Rotten
freq        7233
Name: tomatometer_status, dtype: object

In [8]:
df['tomatometer_status'].value_counts(normalize = True)

Rotten             0.434728
Fresh              0.387547
Certified Fresh    0.177726
Name: tomatometer_status, dtype: float64

In [9]:
#Let's look further into the dataset
df.describe()

       runtime_in_minutes  ...  audience_rotten_critics_count
count        16483.000000  ...                   16638.000000
mean           102.391494  ...                      20.867592
std             25.028011  ...                      29.995032
min              1.000000  ...                       0.000000
25%             90.000000  ...                       3.000000
50%             99.000000  ...                       8.000000
75%            111.000000  ...                      24.000000
max           2000.000000  ...                     296.000000

[8 rows x 8 columns]

In [10]:
df.isnull().sum()

rotten_tomatoes_link                0
movie_title                         0
movie_info                         24
critics_consensus                8329
poster_image_url                    0
rating                              0
genre                              17
directors                         114
writers                          1349
cast                              284
in_theaters_date                  815
on_streaming_date                   2
runtime_in_minutes                155
studio_name                       416
tomatometer_status                  0
tomatometer_rating                  0
tomatometer_count                   0
audience_status                   252
audience_rating                   252
audience_count                    252
audience_top_critics_count          0
audience_fresh_critics_count        0
audience_rotten_critics_count       0
dtype: int64

In [11]:
df.select_dtypes(include = 'number').nunique()

runtime_in_minutes                 201
tomatometer_rating                 101
tomatometer_count                  393
audience_rating                     98
audience_count                   10885
audience_top_critics_count          65
audience_fresh_critics_count       345
audience_rotten_critics_count      203
dtype: int64

In [12]:
df.select_dtypes(exclude = 'number').nunique()

rotten_tomatoes_link    16638
movie_title             16106
movie_info              16613
critics_consensus        8307
poster_image_url        16623
rating                      8
genre                    1080
directors                8314
writers                 12121
cast                    16326
in_theaters_date         5586
on_streaming_date        2260
studio_name              2886
tomatometer_status          3
audience_status             2
dtype: int64

In [18]:
#Cleaning the dataset
clean_df = df
dropped_features = ['rotten_tomatoes_link', 'movie_title', 'movie_info', 'poster_image_url', 'tomatometer_rating']
clean_df = clean_df.drop(columns = dropped_features)

print(clean_df.shape)
clean_df.head()

(16638, 18)

                                   critics_consensus  ... audience_rotten_critics_count
0  Though it may seem like just another Harry Pot...  ...                            73
1  Nicole Holofcener's newest might seem slight i...  ...                            19
2                                                NaN  ...                             7
3  Sidney Lumet's feature debut is a superbly wri...  ...                             0
4  One of Disney's finest live-action adventures,...  ...                             3

[5 rows x 18 columns]